footer.footer.mt-5.py-5
	.container
		.row
			.col-12.text-center.col-sm-3.text-sm-start.col-md-4.col-lg-6.col-xxl-8
				a.footer__logo.navbar-brand.m-0(href='#' title="Логотип компании" data-animation='slide-right')
					include ../img/icons/logo.svg



			.col-12.col-sm-9.col-md-8.col-lg-6.col-xxl-4
				nav.footer__nav.text-center(data-animation='slide-left')
					ul.list-style-none.my-4.m-sm-0.d-sm-flex.flex-sm-wrap.justify-content-sm-end.justify-content-md-between
						li.nav-item
							a.nav-link(href='#request')
								span Оставить заявку
						li.nav-item
							a.nav-link(href='#about')
								span О компании
						li.nav-item
							a.nav-link(href='#contacts')
								span Контакты

			.col-12.mt-sm-3.col-sm-6
				ul.footer__social.nav.d-flex.justify-content-center.justify-content-sm-start(data-animation='slide-down')
					li.footer__social-item
						a(href='#')
							img(src="img/icons/instagram.svg" alt="instagram")
							span.visually-hidden Instagram
					li.footer__social-item.ms-3
						a(href='#')
							img(src="img/icons/vk.svg" alt="vk")
							span.visually-hidden Vkontakte
					li.footer__social-item.ms-3
						a(href='#')
							img(src="img/icons/telegram.svg" alt="telegram")
							span.visually-hidden Telegram
					li.footer__social-item.ms-3
						a(href='#')
							img(src="img/icons/whatsapp.svg" alt="whatsapp")
							span.visually-hidden Whatsapp

			.col-12.text-center.mt-3.col-sm-6
				.flex-column.d-sm-flex.justify-content-center.h-100(data-animation='slide-down')
					span.text-muted.me-sm-0.ms-sm-auto © 2023, MR Group





