@import "../colors/colors";

a, button, input[type="button"] {
  transition: $transition;

  &:hover {
    transition: $transition;
  }
}

main {
  display: block;
  overflow: hidden;
}

p, ul ,ol {
  &:last-child {
    margin-bottom: 0;
  }
}

p, ul, ol, h1, h2, h3, h4, h5, h6 {
  &:first-of-type {
    margin-top: 0;
  }
}

img {
  border-style: none;
  width: 100%;
  max-width: 100%;
  display: block;
}

.list-style-none {
  list-style: none;
  padding-left: 0;
}

.visually-hidden,
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}