extends html/base

block variables
	- let title = 'Главная'

block content
	section.first-screen
		.first-screen__slider.swiper.mainSlider
			.swiper-wrapper
				.swiper-slide
					img(src='img/content/slide-1.jpg' alt="Слайд-1")
				.swiper-slide
					img(src='img/content/slide-2.jpg' alt="Слайд-2")
				.swiper-slide
					img(src='img/content/slide-3.jpg' alt="Слайд-3")

		.first-screen__content
			.container
				.first-screen__wrap
					h1.first-screen__title.section-title(data-animation="slide-left slide-down") Строительная компания
						span <br> MR Group
						|  проектирует высоко экологичные и эффективные дома
					.first-screen__additional
						p.first-screen__desc(data-animation="slide-right scale-up slide-up") от 5 млн ₽

					.swiper-buttons
						.swiper-button-prev(data-animation="scale-up slide-left")
						.swiper-button-next(data-animation="scale-up slide-right")

					ul.first-screen__list(data-animation="slide-left slide-up scale-up")
						li Профессиональные навыки
						li Соблюдение сроков заказчика
						li Гарантии от 10 лет
						li Соблюдение норм и стандартов

					.first-screen__buttons.mt-auto
						a.btn.btn--accent(href="#request" data-animation="slide-up slide-right") Оставить заявку
						a.btn.btn--dark.d-none.d-sm-inline-flex(href="#callback" data-bs-toggle="modal" data-bs-target="#callback" data-animation="slide-up slide-left") Задать вопрос

		.swiper-pagination

	section#about.about.pt-5
		.container
			h2.about__title.section-title(data-animation="scale-up") Информация о компании
			.about__section-plate.section-plate
				.row
					.col-lg-6
						.about__information(data-animation="slide-right")
							h3.about__secondary-title.secondary-title Миссия MR Group
							p.about__text Строительная компания "MR Group" - это команда профессионалов, сплоченных общей целью создания качественных и надежных объектов для наших клиентов.
							p.about__text На протяжении 8 лет наша компания успешно осуществляет разнообразные строительные проекты, от мелких ремонтных работ до крупномасштабных строительств коммерческих и жилых комплексов. Мы уделяем особое внимание качеству и срокам выполнения работ, чтобы каждый наш проект стал воплощением мечты наших заказчиков.
							p.about__text.fw-bold Чем мы занимаемся:
							ul.about__list.list-style-custom
								li Строительство жилых домов и коттеджей
								li Коммерческое строительство
								li Ремонт и реконструкция
								li Архитектурное проектирование
								li Строительство коммерческих комплексов
					.col-lg-6.mt-4.mt-md-5.mt-lg-0
						.about__image(data-animation="slide-down")
							img(src="img/content/about.jpg" data-animation="slide-right" alt="О компании")

	section#contacts.contacts.pt-5
		.container
			h2.contacts__title.section-title(data-animation="scale-up") Наши контакты
			.row.nav(role='tablist')

				.col-md-6.col-lg-4.active(data-bs-toggle='tab' data-bs-target='#tab-1' role='tab' aria-selected='true')
					.contacts__contact-card.contact-card(data-animation="slide-down")
						h5.contact-card__title Наш адрес в Москве
						.contact-card__contacts.d-flex.flex-column
							a.contact-card__item.item-with-icon(href="tel:#")
								i.contacts__contacts-icon.item-with-icon__icon
									include img/icons/phone.svg
								span 8 (800)-123-45-67
							a.contact-card__item.item-with-icon(href="mailto:#")
								i.contacts__contacts-icon.item-with-icon__icon
									include img/icons/write.svg
								span mrgroup-msk@support.ru
							a.contact-card__item.item-with-icon
								i.contacts__contacts-icon.item-with-icon__icon
									include img/icons/location.svg
								span Москва, Варшавское шоссе, 24
						p.contact-card__decription Наша строительная компания в Москве предоставляет высококачественные услуги по строительству и ремонту, с учетом индивидуальных потребностей клиентов.
						.contact-card__additional
							button.btn.btn--accent(type="submit") Смотреть на карте

				.col-md-6.col-lg-4(data-bs-toggle='tab' data-bs-target='#tab-2' role='tab' aria-selected='false')
					.contacts__contact-card.contact-card(data-animation="slide-up")
						h5.contact-card__title Наш адрес в Санкт-Петербурге
						.contact-card__contacts.d-flex.flex-column
							a.contact-card__item.item-with-icon(href="tel:#")
								i.contacts__contacts-icon.item-with-icon__icon
									include img/icons/phone.svg
								span 8 (800)-555-77-77
							a.contact-card__item.item-with-icon(href="mailto:#")
								i.contacts__contacts-icon.item-with-icon__icon
									include img/icons/write.svg
								span mrgroup-ptb@support.ru
							a.contact-card__item.item-with-icon
								i.contacts__contacts-icon.item-with-icon__icon
									include img/icons/location.svg
								span Санкт-Петербург, Садовая улица, 31
						p.contact-card__decription В Петербурге наша компания специализируется на создании современных и функциональных пространств, отвечающих самым высоким стандартам качества.
						.contact-card__additional
							button.btn.btn--accent(type="submit") Смотреть на карте

				.col-md-6.col-lg-4(data-bs-toggle='tab' data-bs-target='#tab-3' role='tab' aria-selected='false')
					.contacts__contact-card.contact-card(data-animation="slide-down")
						h5.contact-card__title Наш адрес в Волгограде
						.contact-card__contacts.d-flex.flex-column
							a.contact-card__item.item-with-icon(href="tel:#")
								i.contacts__contacts-icon.item-with-icon__icon
									include img/icons/phone.svg
								span 8 (800)-777-88-69
							a.contact-card__item.item-with-icon(href="mailto:#")
								i.contacts__contacts-icon.item-with-icon__icon
									include img/icons/write.svg
								span mrgroup-vlgk@support.ru
							a.contact-card__item.item-with-icon
								i.contacts__contacts-icon.item-with-icon__icon
									include img/icons/location.svg
								span Волгоград, улица Ткачёва, 16Б
						p.contact-card__decription В Волгограде мы занимаемся строительством надежных и эстетичных зданий, подходящих для жизни и работы в динамично развивающемся городе.
						.contact-card__additional
							button.btn.btn--accent(type="submit") Смотреть на карте


			.contacts__panes.tab-content.mt-3(data-animation="slide-up")
				#tab-1.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='tab-1')
					.contacts__map
						div(style='position:relative;overflow:hidden;')
							a(href='https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps' style='color:#eee;font-size:12px;position:absolute;top:0px;') Москва
							a(href='https://yandex.ru/maps/213/moscow/house/varshavskoye_shosse_24a/Z04YcAViS0IGQFtvfXp5dHRrbQ==/?indoorLevel=1&ll=37.622603%2C55.686355&utm_medium=mapframe&utm_source=maps&z=17' style='color:#eee;font-size:12px;position:absolute;top:14px;')
								| Варшавское шоссе, 24
							iframe(src='https://yandex.ru/map-widget/v1/?indoorLevel=1&ll=37.622603%2C55.686355&mode=whatshere&whatshere%5Bpoint%5D=37.622271%2C55.685889&whatshere%5Bzoom%5D=17&z=17' width='560' height='400' frameborder='1' allowfullscreen='true' style='position:relative;')

				#tab-2.tab-pane.fade(role='tabpanel' aria-labelledby='tab-2')
					.contacts__map
						div(style='position:relative;overflow:hidden;')
							a(href='https://yandex.ru/maps/2/saint-petersburg/?utm_medium=mapframe&utm_source=maps' style='color:#eee;font-size:12px;position:absolute;top:0px;') Санкт‑Петербург
							a(href='https://yandex.ru/maps/2/saint-petersburg/house/sadovaya_ulitsa_31/Z0kYdQViSEIDQFtjfXVzeXRlYg==/?ll=30.322215%2C59.928947&utm_medium=mapframe&utm_source=maps&z=18.71' style='color:#eee;font-size:12px;position:absolute;top:14px;') Садовая улица, 31
							iframe(src='https://yandex.ru/map-widget/v1/?ll=30.322215%2C59.928947&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgoyMDA4NzI1MzAzEkrQoNC-0YHRgdC40Y8sINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCDQodCw0LTQvtCy0LDRjyDRg9C70LjRhtCwLCAzMSIKDdGT8kEVKLdvQg%2C%2C&z=18.71' width='560' height='400' frameborder='1' allowfullscreen='true' style='position:relative;')

				#tab-3.tab-pane.fade(role='tabpanel' aria-labelledby='tab-3')
					.contacts__map
						div(style='position:relative;overflow:hidden;')
							a(href='https://yandex.ru/maps/38/volgograd/?utm_medium=mapframe&utm_source=maps' style='color:#eee;font-size:12px;position:absolute;top:0px;') Волгоград
							a(href='https://yandex.ru/maps/38/volgograd/house/ulitsa_tkachyova_16b/YE0YcwZnTEQDQFpifXtzc3lmbQ==/?ll=44.517253%2C48.722982&utm_medium=mapframe&utm_source=maps&z=16.84' style='color:#eee;font-size:12px;position:absolute;top:14px;') Улица Ткачёва, 16Б — Яндекс Карты
							iframe(src='https://yandex.ru/map-widget/v1/?ll=44.517253%2C48.722982&mode=whatshere&whatshere%5Bpoint%5D=44.517317%2C48.722520&whatshere%5Bzoom%5D=17&z=16.84' width='560' height='400' frameborder='1' allowfullscreen='true' style='position:relative;')



	section#request.request.pt-5
		.container
			h2.request__title.section-title(data-animation="scale-up") Оставить заявку
			.request__section-plate.section-plate
				form.request__form.callback-form(action='/' method='post' id="requestForm" data-animation="slide-left")
					.row
						.col-md-6.order-md-2
							.px-2.px-sm-5.py-sm-4.py-md-0.px-md-3.ps-lg-4.ps-xxl-5

								.mb-3.callback-form__element
									label.form-label(for='requestName') Ваше имя
									input#requestName.form-control(type='text' name="name")
									span.form-checker Заполните поле корректно
								.mb-3.callback-form__element
									label.form-label(for='requestEmail') Ваша электронная почта
									input#requestEmail.form-control(type='email' name="email")
									span.form-checker Заполните поле корректно
									p#emailHelp.form-text Мы никому не предоставляем ваши данные.
								.mb-3.callback-form__element
									label.form-label(for='requestMessage') Сообщение
									textarea#requestMessage.form-control(placeholder='Дополнительная информация' name="message" style='height: 100px')

								.mb-3.callback-form__element.form-check
									input#requestCheck.form-check-input(type='checkbox' name='check')
									label.form-check-label(for='requestCheck') Я согласен с политикой обработки <a href="#" class="text-muted"> "Персональных данных" </a>

								button.btn.btn--accent(type='submit' name='button') Отправить



						.col-md-6.d-none.d-sm-block.order-md-1
							.request__image-wrap.px-sm-5.pb-sm-4.p-md-0
								.request__image(data-animation="slide-left")
									img(src="img/content/request.jpg" alt="Форма обратной связи")


	#callback.modal.fade(tabindex='-1' aria-labelledby='callback' aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					h5#exampleModalLabel.modal-title Обратный звонок
					button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')

				.modal-body.px-5.py-5.pt-3

					form.callback-form(action='/' method='post' id="callbackForm")

						.mb-3.callback-form__element
							label.form-label(for='callbackName') Ваше имя
							input#callbackName.form-control(type='text' name="name")
							span.form-checker Заполните поле корректно
						.mb-3.callback-form__element
							label.form-label(for='callbackEmail') Ваша электронная почта
							input#callbackEmail.form-control(type='email' name="email")
							span.form-checker Заполните поле корректно
							p.form-text Мы никому не предоставляем ваши данные.
						.mb-3.callback-form__element
							label.form-label(for='callbackMessage') Сообщение
							textarea#callbackMessage.form-control(placeholder='Дополнительная информация' name="message" style='height: 100px')

						.mb-3.callback-form__element.form-check
							input#callbackCheck.form-check-input(type='checkbox' name='check')
							label.form-check-label(for='callbackCheck') Я согласен с политикой обработки <a href="#" class="text-muted"> "Персональных данных" </a>

						button.btn.btn--accent(type='submit' name='button') Отправить